body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: rgb(220,220,220);
}

.section {
    background-color: rgb(220,220,220);
}

.footer {
    background-color: rgb(220,220,220);
}

